@font-face {
    font-family: 'BoldPixels';
    src: url('./assets/font/BoldPixels.woff2') format('woff2'),
        url('./assets/font/BoldPixels.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

body {
    overflow: hidden;
}

* {
    font-family: "BoldPixels";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: inline-block;
}

.main {
    height: 100vh;
    background-color: black;
    display: flex;
}

.stats {
    position: relative;
    height: 100vh;
    width: calc((100vw / 2 - 800px / 2));
    border-right: 8px solid white;
    border-collapse: collapse;
    background-color: white;
    z-index: 7;
}

th {
    background-color: white;
    font-size: 64px;
}

.skullIMG,
.clockIMG,
.IMGTh {
    width: 128px;
}

td {
    font-size: 64px;
    color: white;
    text-align: center;
    border-bottom: 8px solid white;
    background-color: black;
}

.display {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.filler {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: white;
    z-index: 6;
}

.canvas {
    position: relative;
    width: 800px;
    height: 800px;
    background-color: dimgray;

}

.sprite{
    position: absolute;
    height: 40px;
    width: 40px;
    animation-name:rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state:paused ;
    &.player{
        background-color: white;
        left: 360px;
        top: 360px;
        z-index: 6;
    }
    &.enemy{
        background-color: black;
        z-index: 4;
    }
    &.ammo, &.bullet{
        height: 14px;
        width:14px;
        background-color: orange;
        z-index: 2;
    }
    &.heal{
        height: 28px;
        width:28px;
        background-color: greenyellow;
        z-index: 2;
    }
    &.bullet{
        background-color: white;
        box-shadow: 0px 0px 30px 3px white;
        border-radius: 50%;
        z-index: 3;
    }
}

.laser{
    position: absolute;
    background-color: red;
    box-shadow: 0px 0px 30px 3px red;
    width:800px;
    height:800px;
    z-index: 5;
}

.deathScreen,
.startScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
}

.deathScreen {
    background-color: black;
    color: red;
    visibility: hidden;
}

.startScreen {
    background-color: black;
    opacity: 80%;
    visibility: visible;
    color: white;
}

.HUD {
    position: relative;
    width: 100%;
    height: calc(100vh - 800px - 4px);
    background-color: white;
    border-top: 8px solid white;
    display: flex;
    z-index: 7;
}

.health,
.munition {
    border: 4px solid black;
    height: 100%;
    width: 50%;
    display: flex;
}

.heartIMG {
    width: 33%
}

.playerAmmo {
    text-align: center;
    font-size: 128px;
    display: inline-block;
    flex-grow: 2;
}

.info {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc((100vw / 2 - 800px / 2));
    background-color: black;
    border-left: 8px solid white;
    z-index: 7;
}

.music {
    display: flex;
    flex-direction: column;
}

.title {
    background-color: white;
    font-size: 64px;
    height: 172px;
    padding: 8px;
}

.names {
    color: white;
    padding: 8px;
    font-size: 48px;
    height: 128px;
}

.extras {
    display: inline-block;
    background-color: white;
    font-size: 32px;
    padding: 8px;
    color: black;
    height: 128px;
}

.credits {
    font-size: 32px;
    flex-grow: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}